@font-face {
    font-family: 'Gilroy';
    src: url('/client_packages/browsers/fonts/Gilroy/Gilroy-Light.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/client_packages/browsers/fonts/Gilroy/Gilroy-Medium.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/client_packages/browsers/fonts/Gilroy/Gilroy-Regular.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/client_packages/browsers/fonts/Gilroy/Gilroy-Semibold.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/client_packages/browsers/fonts/Gilroy/Gilroy-Bold.ttf');
    font-weight: 500;
}